* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 800;
}

:root {
  --primary-color: #EEEEEE;
  --secondary-color: #212121;
  --accent-color: #8BC34A;
  --accent-light-color: #C5E1A5;
  --accent-dark-color: #558B2F;
  --error-color: #D32F2F;

  color-scheme: light;
  color: var(--primary-color);
  background-color: var(--secondary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  width: 100%;
}

nav #navigation {
  height: 70px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #212121DD;
}

nav #navigation a {
  color: var(--primary-color);
  text-decoration: none;
  margin: 0 10px;
  text-transform: uppercase;
}

nav #navigation #title {
  color: var(--accent-color);
}

nav #navigation #right {
  display: flex;
  flex-direction: column;
  align-items: end;
}

nav #navigation #links {
  display: flex;
}

nav #bar > * {
  height: 30px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  font-size: 0.8em;
}

nav #bar #logged-in {
  justify-content: space-between;
}

nav #bar #logged-out {
  justify-content: end;
}

nav #bar #auth {
  display: flex;
  align-items: center;
  justify-content: end;
}

nav #bar #logged-in > * > *, nav #bar #logged-out > * {
  margin-right: 10px;
}

nav #bar #cart{
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 10px;
}

nav #bar #cart:hover {
  cursor: pointer;
}

nav #bar #cart img{
  height: 17px;
  color: var(--primary-color);
  margin-right: 5px;
}

#name {
  margin-bottom: 30px;
}

#header,
#error,
#items,
#detail-product,
#detail-account,
#shopping-cart {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

#header {
  color: var(--primary-color);
  background-color: #21212188;
}

#footer {
  height: 100px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  text-align: center;
}

#divider {
  width: 2px;
  margin: 0 15px;
  background-color: var(--accent-color);
}

#disclaimer {
  font-size: 0.8em;
  color: #696969;
}

#container {
  min-width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../assets/images/forest.jpg");
}

#sign {
  min-width: inherit;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #21212188;
}

#sign h1 {
  margin-bottom: 10px;
}

form {
  width: 250px;
  display: flex;
  flex-direction: column;
}

form label {
  margin-left: 3px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 0.75em;
}

form input,
form span {
  width: inherit;
  height: 40px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  text-align: center-left;
  font-size: 0.9rem;
  background-color: #FFFFFF;
}

form span {
  display: flex;
  align-items: center;
  color: #696969;
  background-color: #DEDEDE;
}

form input:focus {
  outline: none;
}

form .error {
  color: var(--error-color);
  padding: 3px 10px;
  font-size: 0.6em;
  font-weight: 600;
}

form .valid {
  border: none;
}

form .invalid {
  border: 3px var(--error-color) solid;
}

input#submit,
button {
  width: inherit;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  padding: 3px 10px;
  transition: background-color 0.2s, color 0.2s;
}

input#submit:hover,
button:hover {
  background-color: var(--accent-light-color);
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}

form input#submit {
  margin-top: 20px;
}

#items,
#detail-product {
  justify-content: space-between;
}

#items #wrap {
  width: 60vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-gap: 50px;
  justify-content: center;
}

#items .item {
  width: 270px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #21212122;
  border: 2px solid #21212122;
  transition: background-color 0.2s, color 0.2s;
  border-radius: 5px;
}

#items .item h3 {
  text-decoration: underline;
}

#items .item h3:hover {
  text-decoration: underline;
  cursor: pointer;
}

#items .item h3 {
  line-height: 1.2rem;
  width: inherit;
  padding: 0 20px;
  text-align: start;
  margin-bottom: 5px;
}

#items .item .price {
  width: inherit;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#items .item .price button {
  width: auto;
}

#items .item .thumbnail {
  height: 150px;
  margin-bottom: 20px;
}

#items #pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

#items #pages p {
  color: #696969;
  margin-bottom: 10px;
}

#items #buttons {
  display: flex;
}

#items #buttons #next,
#items #buttons #previous {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

#items #buttons #next img,
#items #buttons #previous img {
  width: 15px;
  height: 15px;
}

#detail-product #detail-top {
  width: 50vw;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

#detail-product #detail-top #info {
  width: 50%;
  margin-left: 30px;
}

#detail-product #detail-top #storage {
  margin-top: 60px;
}

#detail-product #detail-top #price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

#detail-product #detail-top #image {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#detail-product #detail-top #image img {
  height: inherit;
}

#detail-product #detail-bottom {
  width: 50vw;
}

#detail-product #detail-bottom h4 {
  margin: 20px 0 5px 0;
  padding: 2px 12px;
  display: inline-block;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
}

#detail-product #detail-bottom .parameter {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

#detail-account #split {
  display: flex;

}

#detail-account #split #sections {
  margin-top: 35px;
  margin-right: 50px;
}

#detail-account #split #sections a {
  text-decoration: none;
  color: var(--secondary-color);
}

#detail-account #split #sections a#active {
  color: var(--accent-color);
}

#detail-account #split #sections h3 {
  margin-bottom: 10px;
}

#success {
  text-align: center;
  margin-top: 15px;
}

#shopping-cart .item {
  height: 70px;
  display: flex;
  align-items: center;
}

#shopping-cart .item h3{
  margin: 0;
}

#shopping-cart .item .name{
  flex: 1;
  margin-right: 60px;
}

#shopping-cart .item > *{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: start;
}

#shopping-cart .item .count{
  height: 30px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  outline: none;
}

#shopping-cart .item .price{
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#shopping-cart .item button{
  width: 30px;
  height: 30px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
}

#shopping-cart .item button.add{
  margin-right: 15px;
}

#shopping-cart .item button.subtract{
  margin-left: 15px;
}

#shopping-cart .item button.remove{
  color: var(--primary-color);
  background-color: var(--error-color);
}