* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 800;
}

:root {
  --primary-color: #EEEEEE;
  --secondary-color: #212121;
  --accent-color: #8BC34A;
  --accent-light-color: #C5E1A5;
  --accent-dark-color: #558B2F;
  --error-color: #D32F2F;

  --menu-height: 80px;

  color-scheme: light;
  color: var(--primary-color);
  background-color: var(--secondary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input#submit,
button {
  width: inherit;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  padding-inline: 10px;
  transition: all 0.2s;
}

input#submit:hover,
button:hover {
  background-color: var(--accent-light-color);
  transition: all 0.2s;
  cursor: pointer;
}

nav {
  width: 100%;
  height: var(--menu-height);
  position: fixed;
}

nav #navigation {
  height: inherit;
  padding-inline: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
}

nav #navigation a {
  color: var(--primary-color);
  text-decoration: none;
  margin-inline: 10px;
  text-transform: uppercase;
}

nav #navigation #title {
  color: var(--accent-color);
}

nav #navigation #right {
  display: flex;
  flex-direction: column;
  align-items: end;
}

nav #navigation #account {
  display: flex;
  margin-bottom: 5px;
  margin-right: 10px;
}

nav #navigation #account {
  height: 1.5em;
  font-size: 0.8em;
}

nav #navigation #links {
  display: flex;
}

nav #navigation #username,
nav #navigation #sign-up {
  margin-right: 10px;
}

#header {
  padding-top: var(--menu-height);
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

#footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
}

#divider {
  width: 2px;
  margin-inline: 15px;
  background-color: var(--accent-color);
}

#disclaimer {
  font-size: 0.8em;
  color: #696969;
}

#container {
  min-width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../assets/images/forest.jpg");
}

#sign {
  padding-top: calc(var(--menu-height)*1.5);
  padding-bottom: calc(var(--menu-height)*0.5);
  min-width: inherit;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #21212188;
}

#sign h1 {
  margin-bottom: 10px;
}

#sign-form {
  width: 250px;
  display: flex;
  flex-direction: column;
}

#sign-form label {
  margin-left: 3px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 0.75em;
}

#sign-form input {
  width: inherit;
  height: 40px;
  padding-inline: 10px;
  border: none;
  border-radius: 5px;
}

#sign-form input#submit {
  margin-top: 20px;
}

#sign-form input:focus {
  outline: none;
}

#sign-form .error {
  color: var(--error-color);
  padding: 3px 10px;
  font-size: 0.6em;
  font-weight: 600;
}

#sign-form .valid {
  border: none;
}

#sign-form .invalid {
  border: 3px var(--error-color) solid;
}