@media only screen and (max-width: 1600px) {
    #items #wrap {
        width: 70vw;
    }
}

@media only screen and (max-width: 1000px) {
    #detail #detail-top {
        width: 90vw;
        flex-direction: column;
        align-items: center;
    }

    #detail #detail-top #info {
        width: 90vw;
        margin-top: 40px;
        margin-left: 0;
    }

    #detail #detail-top #storage {
        margin-top: 30px;
    }

    #detail #detail-top #price {
        margin-bottom: 20px;
    }

    #detail #detail-bottom {
        width: 90vw;
    }
}

@media only screen and (max-width: 750px) {
    #detail-account #split {
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    #detail #detail-bottom .parameter .name {
        font-weight: 600;
    }

    #detail #detail-bottom .parameter {
        flex-direction: column;
    }
}