@media only screen and (max-width: 1000px) {
    #detail-product #detail-top {
        flex-direction: column;
        align-items: center;
    }

    #detail-product #detail-top #info {
        width: 90vw;
        margin-top: 40px;
        margin-left: 0;
    }

    #detail-product #detail-top #storage {
        margin-top: 30px;
    }

    #detail-product #detail-top #price {
        margin-bottom: 20px;
    }

    #detail-product #detail-bottom {
        width: 90vw;
    }
}

@media only screen and (max-width: 750px) {
    #detail-account #split {
        flex-direction: column;
    }

    #items #wrap {
      margin: 0;
    }
}

@media only screen and (max-width: 500px) {
    #detail-product #detail-bottom .parameter .name {
        font-weight: 600;
    }

    #detail-product #detail-bottom .parameter {
        flex-direction: column;
    }

    #items #row {
       flex-direction: column;
       align-items: center;
       justify-content: center;
       padding: 20px;
    }

    #items #filters {
       width: 270px;
       margin-bottom: 30px;
       padding-left: 0;
    }

    #shopping-cart .item {
       padding: 0 30px;
    }

    #shopping-cart .item .price {
        width: 50px;
    }
}